USE [QuanLyCuaHangGiayDep]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MaCTSP] [int] NOT NULL,
	[MaDH] [int] NOT NULL,
	[Gia] [float] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_CHIITETHOADON_1] PRIMARY KEY CLUSTERED 
(
	[MaCTSP] ASC,
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MaPhieuNhap] [int] NOT NULL,
	[MaChiTietSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [float] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaChiTietSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETSANPHAM]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSANPHAM](
	[MaChiTietSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaSize] [int] NOT NULL,
 CONSTRAINT [PK_CHITETSANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaChiTietSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUCSANPHAM]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCSANPHAM](
	[MaDanhMuc] [int] NOT NULL,
	[TenDanhMuc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DANHMUCSANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[MaKH] [varchar](10) NOT NULL,
	[ThoiGian] [date] NOT NULL,
	[SDTKH] [varchar](12) NOT NULL,
	[DiaChi] [nvarchar](70) NOT NULL,
	[GhiChu] [ntext] NOT NULL,
	[HinhThucThanhToan] [int] NOT NULL,
	[TinhTrangDonHang] [int] NOT NULL,
	[TongTien] [float] NOT NULL,
	[TenNguoiNhan] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MaKH] [varchar](10) NOT NULL,
	[MaChiTietSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaChiTietSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HINHTHUCTHANHTOAN]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHTHUCTHANHTOAN](
	[MaHTTT] [int] IDENTITY(1,1) NOT NULL,
	[KieuTT] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_HINHTHUCTHANHTOAN] PRIMARY KEY CLUSTERED 
(
	[MaHTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [ntext] NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[MaTK] [varchar](10) NOT NULL,
	[Anh] [varchar](1000) NULL,
	[Phai] [bit] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAUSANPHAM]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAUSANPHAM](
	[MaMau] [int] NOT NULL,
	[TenMau] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_MAUSANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[DiaChi] [nvarchar](225) NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[CCCD] [varchar](15) NOT NULL,
	[DiaChi] [ntext] NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[MaTK] [varchar](10) NOT NULL,
	[Anh] [varchar](1000) NULL,
	[Phai] [bit] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [date] NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[MoTa] [ntext] NULL,
	[Gia] [float] NOT NULL,
	[GiamGia] [float] NULL CONSTRAINT [DF_SANPHAM_GiamGia]  DEFAULT ((0)),
	[MaDanhMuc] [int] NOT NULL,
	[Phai] [bit] NOT NULL,
	[HinhAnh] [nvarchar](500) NOT NULL,
	[MaMau] [int] NOT NULL,
	[Style] [nvarchar](50) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SIZESANPHAM]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZESANPHAM](
	[MaSize] [int] IDENTITY(1,1) NOT NULL,
	[TenSize] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_SIZESANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTK] [varchar](10) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[MaVaiTro] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANGTHAIDONHANG]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIDONHANG](
	[MaTTDH] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TRANGTHAIDONHANG] PRIMARY KEY CLUSTERED 
(
	[MaTTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 12/24/2022 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VAITRO](
	[MaVT] [varchar](10) NOT NULL,
	[TenVT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETSANPHAM] ([MaChiTietSP], [SoLuong], [MaSP], [MaSize]) VALUES (1, 100, 2, 1)
INSERT [dbo].[CHITIETSANPHAM] ([MaChiTietSP], [SoLuong], [MaSP], [MaSize]) VALUES (2, 100, 2, 2)
INSERT [dbo].[CHITIETSANPHAM] ([MaChiTietSP], [SoLuong], [MaSP], [MaSize]) VALUES (3, 100, 2, 3)
GO
INSERT [dbo].[DANHMUCSANPHAM] ([MaDanhMuc], [TenDanhMuc]) VALUES (2, N'Áo Thun')
INSERT [dbo].[DANHMUCSANPHAM] ([MaDanhMuc], [TenDanhMuc]) VALUES (3, N'Áo Vest')
INSERT [dbo].[DANHMUCSANPHAM] ([MaDanhMuc], [TenDanhMuc]) VALUES (4, N'Áo Sơ Mi')
SET IDENTITY_INSERT [dbo].[HINHTHUCTHANHTOAN] ON 

INSERT [dbo].[HINHTHUCTHANHTOAN] ([MaHTTT], [KieuTT]) VALUES (1, N'ATM')
INSERT [dbo].[HINHTHUCTHANHTOAN] ([MaHTTT], [KieuTT]) VALUES (2, N'Thanh toán khi nhận hàng')
SET IDENTITY_INSERT [dbo].[HINHTHUCTHANHTOAN] OFF
INSERT [dbo].[KHACHHANG] ([MaKH], [Ho], [Ten], [NgaySinh], [DiaChi], [SDT], [MaTK], [Anh], [Phai]) VALUES (N'KH1', N'Nguyen', N'Thuong', CAST(N'2022-04-26' AS Date), N'34343', N'0388888888', N'TK8', N'16537125244262_cate.jpg', 1)
INSERT [dbo].[KHACHHANG] ([MaKH], [Ho], [Ten], [NgaySinh], [DiaChi], [SDT], [MaTK], [Anh], [Phai]) VALUES (N'KH2', N'nguyen quan', N'Đức', CAST(N'2022-04-27' AS Date), N'23424554', N'234', N'TK9', NULL, 1)
INSERT [dbo].[KHACHHANG] ([MaKH], [Ho], [Ten], [NgaySinh], [DiaChi], [SDT], [MaTK], [Anh], [Phai]) VALUES (N'KH3', N'Nguyễn Trung', N'Đức', CAST(N'2022-05-18' AS Date), N'Q9 TP HCM', N'098762824', N'TK10', N'165397978112879600032_963455200692780_3918348468581564416_o.jpg', 1)
INSERT [dbo].[MAUSANPHAM] ([MaMau], [TenMau]) VALUES (1, N'White')
INSERT [dbo].[MAUSANPHAM] ([MaMau], [TenMau]) VALUES (2, N'Black')
INSERT [dbo].[MAUSANPHAM] ([MaMau], [TenMau]) VALUES (3, N'Red')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [SDT], [DiaChi]) VALUES (5, N'Shop 249', N'12345', N'81 Phạm Văn Đồng')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [SDT], [DiaChi]) VALUES (6, N'CTY TNHH Lê Văn', N'123', N'123 Xô Viết Nghệ Tĩnh')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [SDT], [DiaChi]) VALUES (7, N'Nguyễn Xuân Thường', N'3345', N'97 Man Thiện')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
INSERT [dbo].[NHANVIEN] ([MaNV], [Ho], [Ten], [NgaySinh], [CCCD], [DiaChi], [SDT], [MaTK], [Anh], [Phai]) VALUES (N'NV1', N'Nguyễn', N'Đức', CAST(N'2000-04-19' AS Date), N'2342543542', N'Q9 TP hcm', N'0967727201', N'TK1', N'165396922333379532365_963455060692794_6893693599825788928_o.jpg', 1)
INSERT [dbo].[NHANVIEN] ([MaNV], [Ho], [Ten], [NgaySinh], [CCCD], [DiaChi], [SDT], [MaTK], [Anh], [Phai]) VALUES (N'NV10', N'Nguyen', N'Thuong', CAST(N'2022-05-04' AS Date), N'43', N'3r3r', N'0988888888', N'TK13', N'1654163363594nikeairforce1.jpg', 1)
INSERT [dbo].[NHANVIEN] ([MaNV], [Ho], [Ten], [NgaySinh], [CCCD], [DiaChi], [SDT], [MaTK], [Anh], [Phai]) VALUES (N'NV11', N'Nguyễn', N'Thường', CAST(N'2022-05-15' AS Date), N'123123', N'97 Man Thiện', N'12345678', N'TK15', N'278976008_674178603688264_2468058955624321585_n.jpg', 1)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPN], [ThoiGian], [MaNV], [MaNCC], [TongTien]) VALUES (1, CAST(N'2022-05-29' AS Date), N'NV1', 5, 1100000)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [ThoiGian], [MaNV], [MaNCC], [TongTien]) VALUES (2, CAST(N'2022-06-03' AS Date), N'NV10', 5, 18800000)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MoTa], [Gia], [GiamGia], [MaDanhMuc], [Phai], [HinhAnh], [MaMau], [Style]) VALUES (2, N'Áo Len Nâu', NULL, 680000, 0, 2, 0, N'https://cdn.shopify.com/s/files/1/1236/1344/files/25-3-1_2048x2048.jpg?v=1585124927', 2, N'minimalist')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MoTa], [Gia], [GiamGia], [MaDanhMuc], [Phai], [HinhAnh], [MaMau], [Style]) VALUES (3, N'Áo Khoác Hoodie', NULL, 360000, 0, 2, 0, N'https://cf.shopee.vn/file/sg-11134201-22110-ypnufi3w1bkv43', 1, N'minimalist')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MoTa], [Gia], [GiamGia], [MaDanhMuc], [Phai], [HinhAnh], [MaMau], [Style]) VALUES (4, N'Áo Khoác Hoodie', NULL, 360000, 0, 2, 0, N'https://cf.shopee.vn/file/sg-11134201-22110-w3yobm3w1bkvb4', 7, N'minimalist')
SET IDENTITY_INSERT [dbo].[SIZESANPHAM] ON 

INSERT [dbo].[SIZESANPHAM] ([MaSize], [TenSize]) VALUES (1, N'M')
INSERT [dbo].[SIZESANPHAM] ([MaSize], [TenSize]) VALUES (2, N'L')
INSERT [dbo].[SIZESANPHAM] ([MaSize], [TenSize]) VALUES (3, N'XL')
SET IDENTITY_INSERT [dbo].[SIZESANPHAM] OFF
INSERT [dbo].[TAIKHOAN] ([MaTK], [MatKhau], [MaVaiTro], [Email], [TrangThai]) VALUES (N'TK1', N'4297F44B13955235245B2497399D7A93', N'QL', N'quanly@gmail.com', 1)
INSERT [dbo].[TAIKHOAN] ([MaTK], [MatKhau], [MaVaiTro], [Email], [TrangThai]) VALUES (N'TK10', N'68ADB7C1811F11BBEA919D4D4EEBFDB2', N'KH', N'khachhang@gmail.com', 1)
INSERT [dbo].[TAIKHOAN] ([MaTK], [MatKhau], [MaVaiTro], [Email], [TrangThai]) VALUES (N'TK11', N'E10ADC3949BA59ABBE56E057F20F883E', N'NV', N'fefer@gfg.gf', 1)
SET IDENTITY_INSERT [dbo].[TRANGTHAIDONHANG] ON 

INSERT [dbo].[TRANGTHAIDONHANG] ([MaTTDH], [TrangThai]) VALUES (1, N'Đơn mới')
INSERT [dbo].[TRANGTHAIDONHANG] ([MaTTDH], [TrangThai]) VALUES (2, N'Đã xác nhận')
INSERT [dbo].[TRANGTHAIDONHANG] ([MaTTDH], [TrangThai]) VALUES (3, N'Đang giao')
SET IDENTITY_INSERT [dbo].[TRANGTHAIDONHANG] OFF
INSERT [dbo].[VAITRO] ([MaVT], [TenVT]) VALUES (N'KH', N'khach hang')
INSERT [dbo].[VAITRO] ([MaVT], [TenVT]) VALUES (N'NV', N'nhan vien')
INSERT [dbo].[VAITRO] ([MaVT], [TenVT]) VALUES (N'QL', N'Quản lý')
SET ANSI_PADDING ON

GO
/****** Object:  Index [SDT_KH_DN]    Script Date: 12/24/2022 9:42:20 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [SDT_KH_DN] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_MATK_KH]    Script Date: 12/24/2022 9:42:20 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ_MATK_KH] UNIQUE NONCLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SDT_NV_DN]    Script Date: 12/24/2022 9:42:20 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [SDT_NV_DN] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_MATK_NV]    Script Date: 12/24/2022 9:42:20 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UQ_MATK_NV] UNIQUE NONCLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_EMAIL]    Script Date: 12/24/2022 9:42:20 AM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [UNIQUE_EMAIL] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_CHITETSANPHAM] FOREIGN KEY([MaCTSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([MaChiTietSP])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_CHITETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_DONHANG]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_CHITETSANPHAM] FOREIGN KEY([MaChiTietSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([MaChiTietSP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_CHITETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHITETSANPHAM_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK_CHITETSANPHAM_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHITETSANPHAM_SIZESANPHAM] FOREIGN KEY([MaSize])
REFERENCES [dbo].[SIZESANPHAM] ([MaSize])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK_CHITETSANPHAM_SIZESANPHAM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_HINHTHUCTHANHTOAN] FOREIGN KEY([HinhThucThanhToan])
REFERENCES [dbo].[HINHTHUCTHANHTOAN] ([MaHTTT])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_HOADON_HINHTHUCTHANHTOAN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_TRANGTHAIDONHANG] FOREIGN KEY([TinhTrangDonHang])
REFERENCES [dbo].[TRANGTHAIDONHANG] ([MaTTDH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_HOADON_TRANGTHAIDONHANG]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_CHITETSANPHAM] FOREIGN KEY([MaChiTietSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([MaChiTietSP])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_CHITETSANPHAM]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DANHMUCSANPHAM] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DANHMUCSANPHAM] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DANHMUCSANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_MAUSANPHAM] FOREIGN KEY([MaMau])
REFERENCES [dbo].[MAUSANPHAM] ([MaMau])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_MAUSANPHAM]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_CHUCVU] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VAITRO] ([MaVT])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_CHUCVU]
GO
